<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen w-full">
    <div class="bg-white flex items-center flex-col p-8 rounded-lg shadow-md w-full max-w-xs">
        <h1 class=" text-2xl font-bold text-center mb-4">Welcome to Omegle clone</h1>
        <a href="/chat" class="bg-indigo-600 text-white  py-2 px-10 rounded text-center">Start Chat</a>
    </div>
</body>
</html>
